<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TweetShutdown.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <TweetShutdown.Properties.Settings>
            <setting name="AutomaticStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Running" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OAuthScreenName" serializeAs="String">
                <value />
            </setting>
            <setting name="OAuthToken" serializeAs="String">
                <value>212110174-VfzWmJ6ti0P19ODjqOgN7Ri5DvTN1BWV2GKsij2l</value>
            </setting>
            <setting name="OauthTokenSecret" serializeAs="String">
                <value>DKLJCI40tXcMZ4coA3Etrw0KDg5wcGA1ZWM8wdNQ</value>
            </setting>
            <setting name="OauthUserId" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LastShutdownTime" serializeAs="String">
                <value />
            </setting>
            <setting name="UserName" serializeAs="String">
                <value />
            </setting>
        </TweetShutdown.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
